*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

::selection{
    color: var(--p-col);
    background-color: #ff127d;
}

:root{
    --p-ff:'Bricolage Grotesque', sans-serif;;
    --s-ff: 'DM Sans', sans-serif;
    --play: 'Playfair Display', serif;
    --p-col:#BB8AEC;
    --text-col:#1e1e1e;
    --BG-col:#ffffff;
}

body{
    display: flex;
    flex-direction: column;
}

#myCursor{
    position: absolute;
    z-index: 999;
    width: 45px;
    height: 45px;
    background-color: var(--BG-col);
    border-radius: 50%;
    mix-blend-mode: difference;
}

.animated-line {
    stroke: #007bff;
    stroke-width: 2;
    stroke-dasharray: 3500;
    stroke-dashoffset: 3500;
    animation: drawLine 2s ease forwards;
  }
  
  @keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
  }

.nav{
    padding: 20px 80px 20px; 
    z-index: 99;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    .nav-container{
        border-radius: 85px;
        width: 80%;
        padding: 20px 20px 20px 50px; 
        backdrop-filter: blur(40px);
        background-color:var(--text-col);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & ul{
        font-size: 16px;
        font-weight: 500;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 45px;
        list-style: none;

        & a{
            transition: .3s;
            text-decoration: none;
            color:var(--BG-col);

            &:hover{
                transition: .3s;
                color: var(--p-col);
            }
        }
    }
}




#button-1{
  padding: 10px 20px 10px;
  font-size: 18px;
  background-color: var(--BG-col);
  color: var(--text-col);
  border-radius: 56px;
  border: none;
  transition: all 0.3s ease-in-out;


  

  &:hover{
    scale: 105%;
    transition: .5s;
    color: var(--text-col);
    background-color: var(--BG-col);
  }
}

.section-1{
    position: relative;
    width: 100%;
    padding: 300px 80px 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--BG-col);
    /* gap: 10px; */

    .grid{
        position: absolute;
        right: 35px;
        top: 225px;
    }

    .grid-2{
        position: absolute;
        left: 35px;
        top: 225px;
    
    }

    & h1{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        text-align: center;
        line-height: 150px;
        z-index: 3;
        font-family: var(--p-ff);
        text-transform: uppercase;
        font-size:125px;
        letter-spacing: -4px;
        color:var(--text-col);
        transform: perspective(1000px) rotateX(-1deg);        
       
        
    }

    & h4{
        cursor: pointer;
        z-index: 3;
        font-family: var(--play);
        text-transform: capitalize;
        font-style: italic;
        font-size: 35px;
        letter-spacing: -1px;
        color:var(--text-col);
    }

    .scroller{
        position: absolute;
        z-index: 3;
        bottom:80px;
               
    }

    .line{
        top: 150px;
        position: absolute;
        transform: perspective(1000px) rotateX(35deg); 
    }
}

.section-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--BG-col);
    gap: 100px;

    .photo{
        width:550px;
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        
        .icon-group{
            background-color:var(--text-col);
            padding:10px 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            border-radius: 15px;

            & a{
                text-decoration: none;
                color: var(--BG-col);
                transition: .5s;

                &:hover{
                    scale: 150%;
                    transition: .5s;
                }
            }
        
        }

    }

    & h2{
        font-family: var(--p-ff);
        font-size: 70px;
        font-weight: 600;
        line-height: 100%;

        & span{
            color: var(--p-col);
        }
    }

    & p{
        width:35vw;
        font-family: var(--s-ff);
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        opacity: .5;
        letter-spacing: -1px; 
    }
}

#output{
    color: #5AC4FF;
}

#ticker-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%; /* Adjust width as needed */
    background-color: var(--text-col);   
}

.ticker-content {
    width: 100%;
    white-space: nowrap;
    animation: slide 20s linear infinite;
    
    & .text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: var(--BG-col);
        font-family: var(--p-ff);
        letter-spacing: -2px;
        font-size: 40px;
        
        & h2{
            padding: 15px;
            font-size: 35px;
            color: var(--p-col);
        }
    }
    
    
}
  
@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}


/* mobile responsive */

@media (max-width: 425px){
    
    
    nav{
        width: 100%;
        padding: 20px;
    }
}

#typingAnimation {
    border-right: 5px solid var(--text-col);
    animation: typing 2s steps(20), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
  


.section-3{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--BG-col);
    gap: 100px;

    .grid{
        top: -45px;
        position: absolute;
    }

    & h2{
        font-family: var(--p-ff);
        font-size: 45px;
        font-weight: 600;
        line-height: 100%;
    }

    .card-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        gap: 35px;
        transform: perspective(1000px) rotateX(-1deg); 
    }


    .card{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 50px;
        height:100% ;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        background-color: var(--BG-col);
        padding: 35px;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;

        & h3{
            font-family: var(--p-ff);
            font-size: 30px;
            font-weight: 600;
            line-height: 100%;
        }
        
        & p{
            font-family: var(--s-ff);
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
            opacity: .5;
            word-wrap: balance;
            letter-spacing: -1px; 
        }

        
    }

    .card:hover{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        scale: 102%;
        transition: all 0.3s ease-in-out;
    }
}

.section-4{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--BG-col); */
    gap: 100px;
    
    .grid{
        top: -20px;
        position: absolute;
    }

    & h2{
        font-family: var(--p-ff);
        font-size: 45px;
        font-weight: 600;
        line-height: 100%;
    }
}

@keyframes prog-bar {
    to {
      stroke-dashoffset: 0;
    }
  }




  .progress-container {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}

.apps-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;

}

.app{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#control{
    padding-right: 150px;
    width: 100px;
}

#bar{
    width: auto;
    height: 9px;
    background-color: var(--p-col);
    border-radius: 10px;
}

.section-5{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        height: 80%;
        background-color: rgb(237, 236, 234);
        border-radius: 35px;
        overflow:hidden;

        .line{
            rotate: -5deg;
            z-index: 2;
            position: absolute;
            transform: perspective(1000px) rotateX(45deg); 
        }

        #button-1{
            z-index: 50;
            background-color: var(--text-col);
            color: var(--BG-col);
            text-decoration: none;
        }

        & h1{
            z-index: 1;
            cursor: pointer;
            text-align: center;
            line-height: 150px;
            z-index: 3;
            font-family: var(--p-ff);
            text-transform: uppercase;
            font-size:65px;
            letter-spacing: -2px;
            color:var(--text-col);
        }

        .grid{
            top:-50px;
            left: -100px;
            position: absolute;
        }

        .grid-2{
            bottom: -100px;
            right: -100px;
            position: absolute;
        }

        .tag-1{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            rotate: 6deg;
            bottom: 50px;
            right: 100px;
            position: absolute;
            transition: all 0.3s ease-in-out;
            z-index: 2;
        }

        .tag-2{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            rotate: -5deg;
            top: 200px;
            left: 50px;
            position: absolute;
            transition: all 0.3s ease-in-out;
            z-index: 2;
        }

        .tag-3{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            rotate: -10deg;
            top: 50px;
            right: 100px;
            position: absolute;
            transition: all 0.3s ease-in-out;
            z-index: 2;
        }

        .tag-1:hover{
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            scale: 109%;
            transition: all 0.3s ease-in-out;
        }
        .tag-2:hover{
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            scale: 105%;
            transition: all 0.3s ease-in-out;
        }
        .tag-3:hover{
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            scale: 107%;
            transition: all 0.3s ease-in-out;
        }


    }
    
    
    

    & h2{
        font-family: var(--p-ff);
        font-size: 45px;
        font-weight: 600;
        line-height: 100%;
    }
}



footer{
    width: 100%;
    background-color: #e2e2e2e7;
    padding: 25px 145px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & h4{
    
        font-family: var(--p-ff);
        font-size: 15px;
        color: var(--text-color-p);

        .link{
            color: var(--p-col);
            text-decoration: none;
        }
    }

    .icon-group{
        scale: 110%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;

        & a{
            text-decoration: none;
            color: var(--text-col);
            transition: .5s;

            &:hover{
                scale: 150%;
                transition: .5s;
            }
        }
    
    }

    

}



@media (max-width: 375px){

    #myCursor{
        visibility: hidden;
    }

    .nav{
        width:100vw;
        padding: 10px 0px;

        .nav-container{
            justify-content: center;
            height: 70px;
            padding: 0%;
            width:80vw;

        }

        & ul{
            display: none;
        }
            


    }

    .main{
        margin-left:10px ;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .section-1{
        padding: 200px 25px;
        width: 100%;

        & h4{
            text-align: center;
            width: 100%;
            font-size: 25px;
            word-wrap:none;
        }

        & h1{
            text-align: center;
            font-size: 75px;
            line-height: 100%;
            transform:none;  
        }
        .line{
            top: 80px;
            /* display: none;  */
        }

        .grid-2{
            display: none;
        }
    }

    .section-2{
        position: relative;
        flex-direction: column-reverse;

        & h2{
            font-size: 35px;
        }

        & p{
            width:80%;
            font-size: 14px;
            font-weight: 600;
            line-height: 150%;
            opacity: .5;
            letter-spacing: -1px; 
        }

        .photo{
            width: 50px;
        }

    }
    
}
